.row-fluid
  .span12
    %header.hero-unit
      %h1
        Rebecca Miller-Webster

      %h2
        Ruby &amp; Javascript Developer

      %ul.inline.social
        %li
          %a{ href: 'http://www.twitter.com/rmillerwebster' }
            %i.social_icon.icon-twitter

        %li
          %a{ href: 'http://www.linkedin.com/in/rjmillerwebster' }
            %i.social_icon.icon-linkedin

        %li
          %a{ href: 'http://www.github.com/rmw' }
            %i.social_icon.icon-github

      %p
        Rebecca Miller-Webster is a software engineer and renaissance soul. 
        Currently, she is the lead developer for 
        = succeed ' ' do
          = link_to 'How About We for Couples', 'http://couples.howaboutwe.com' 
        and spent the last 10 years building software in a variety of languages 
        for lots of people &mdash; large corporations, non-profits, and start-ups &mdash; 
        including as VP of Engineering for an early-stage start up in NYC. 
        Rebecca founded
        = succeed ', ' do
          = link_to 'Write/Speak/Code', 'http://www.goruco.com' 
        co-organizes 
        = succeed ', ' do
          = link_to 'GORUCO', 'http://www.goruco.com' 
        and is making 
        = succeed '.' do
          = link_to 'Patterned', 'http://www.patternedapp.com' 
        She also makes music and jewelry and loves cupcakes, pizza, and crab rangoon. 
        Rebecca lives in Sunnyside, Queens with her husband, black pug, and rescued mutt. 
        And she changes her hair. A lot.

      %ul.inline.photos
        %li
          %img{ src: '/images/goruco-sq.jpg' }

        %li
          %img{ src: '/images/rebecca-web1-sq.jpg' }

        %li
          %img{ src: '/images/me-mav-sq500.png' }
